html {
    height: 100%;
}
body {
    padding: 0;
    text-align: center;
    position: relative;
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
.wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
h1, h2 {
    width: 100%;
    float: left;
}
section.page1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main {
    float: left;
    width: 100%;
    margin: 0 auto;
}
.main section .page-container {
    position: relative;
    top: 20%;
    margin: 0 auto 0;
    max-width: 950px;
    z-index: 3;
}
.main section {
    overflow: hidden;
}
body.disabled-onepage-scroll .onepage-wrapper section {
    min-height: 100%;
    height: auto;
}
body.disabled-onepage-scroll .main section .page-container, body.disabled-onepage-scroll .main section.page3 .page-container {
    padding: 20px;
    margin-top: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body.disabled-onepage-scroll section .page-container h1 {
    text-align: center;
    font-size: 45px;
}
body.disabled-onepage-scroll section .page-container small {
    text-align: center;
    font-size: 12px;
}
body.disabled-onepage-scroll section .page-container h1 span {
    text-align: center;
    font-size: 120px;
}
body.disabled-onepage-scroll section .page-container h2, body.disabled-onepage-scroll section .page-container .credit, body.disabled-onepage-scroll section .page-container .btns {
    text-align: center;
    width: 100%;
}
body.disabled-onepage-scroll .main section.page1 > img {
    position: absolute;
    width: 80%;
    left: 10%;
}
body.disabled-onepage-scroll .main section > img {
    position: relative;
    max-width: 80%;
    bottom: 0;
}
body.disabled-onepage-scroll .main section.page3 .page-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
}
.tile {
    background: #dddddd;
    border-radius: 6px;
    margin-top: 5%;
    padding: 10%;
    position: relative;
    text-align: center;
}
.login-container {
    width: 100%;
    min-width: 280px;
}
.navbar-inverse .navbar-nav > .open > .dropdown-menu {
    background: 0 0;
}
.login-form {
    background: rgba(0, 0, 0, 0.2);
}
.navbar-inverse .navbar-nav > .open > .dropdown-arrow {
    border-top-color: white;
    border-bottom-color: white;
}
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .7s ease-in-out, padding .7s ease-in-out;
        -moz-transition: background .7s ease-in-out, padding .7s ease-in-out;
        transition: background .7s ease-in-out, padding .7s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
        background: rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 0 5px #000;
        -webkit-box-shadow: 0 0 5px#000;
        box-shadow: 0 0 5px #000;
    }
}
.main section.page1 h1 {
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
    font-size: 100px;
    color: white;
    font-family:'Oleo Script Swash Caps', cursive;
}
.main section.page1 h1 span {
    color: #2C3E50;
    font-size: 200px;
}
.main section.page1 {
    background-color: #16A085;
}
.main section.page2 {
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #16A085 0%, #34495E 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #16A085), color-stop(1, #34495E));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #16A085 0%, #34495E 100%);
}
.main section.page2 .container {
    padding-top: 7%;
    padding-bottom: 5%;
}
section.page2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*FOR COLOR AND BACKGROUND TRANSPARENCY*/

/*.main section.page3 {
	background-image: url(../images/train.jpg);
	background-size: 100% 100%;
}

.main section.page3 .layer {
	background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/
 .navbar-brand {
    font-family:'Oleo Script Swash Caps', cursive;
}
